{{ define "Header"}}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">FWG Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/New">Add</a>
          </li>
    </ul>
</nav>

<div class="jumbotron">
    <h1 class="h1 text-center">Welcome. This is a test page</h1>
</div>
   
{{ end }}