{{ define "Index"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
    {{ template "Header"}}    

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range .Products}}
                <tr>
                    <td>{{.Product}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Price}}</td>
                    <td>{{.Amount}}</td>
                    <td>
                        <a 
                            class="btn btn-danger text-white btn-sm"
                            onclick="deleting('{{.Code}}')">Delete
                         </a>
                    </td>
                    <td>
                        <a
                            class="btn btn-info text-white btn-sm"
                            href="/Edit?id={{.Code}}">Edit
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
<script>
    deleting = id => {
        let confirmation = confirm("Are you sure about that?");
        if(confirmation) window.location = `/delete?id=${id}`;
    }
</script>

</html>

{{ end }}